<!--nav bar-->
<nav class="navbar navbar-expand-lg bungee"  id="home">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Suriya's portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" (click)="scrollToSection('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('about')">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('project')">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection('contact')">Contact</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center ms-auto social-nav-icons">
      <a href="YOUR_LINKEDIN_URL" target="_blank" class="nav-icon linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/suriyar1410" target="_blank" class="nav-icon github">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:rajsuriya606@gmail.com" class="nav-icon gmail">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/__mr_suriya_/?hl=en" target="_blank" class="nav-icon instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>
 <!--hero section -->
<div class="container-fluid hero-section">
  <div class="hero-image-wrapper">
    <img src="/assets/homephoto.jpeg" alt="Home Photo" class="profile-img" />
    <h1 class="hero-text-overlay">
      I am a<span>{{ currentTitle }}</span>
      <div><a href="https://drive.google.com/file/d/12KM4Nk1MfYwwoj0aGZQnTgqlFKXusnca/view?usp=drivesdk" class="cv-btn">Click here to download cv</a></div>
      
    </h1>
  </div>
</div>
<!--About-->
<div class="container-fluid sec-section" id="about">
  <div class="heading-wrapper">
    <h3>About Me</h3>
  </div>
<p class="about">Full Stack Developer specializing in MEAN & MERN stacks, with hands-on experience in building scalable, 
  high-performance web applications.Skilled in Angular and React, with a strong focus on intuitive UI/UX, 
  clean architecture, and seamless frontend-backend integration.</p>
<!--Experience-->
<div class="expericen">
  <div class="heading-wrapper">
    <h3>Experience</h3>
  </div>
  <div class="row p-5 m-2">
  <div class="col-lg-8">
    <p>
      <b><span class="company">Shaswatha Tech</span><span class="position">Junior Website developer</span></b> 
     <li>Developed responsive websites using <b>WordPress and Wix Studio,</b> ensuring cross
       browser compatibility and mobile responsiveness.</li>
     <li> Integrated front-end designs with back-end functionalities, utilizing custom 
       themes, plugins, and built-in tools to enhance interactivity and performance.</li>
     <li>Conducted testing, debugging, and security checks to maintain high-quality 
       standards.</li>
     <li>Provided technical support and training to clients for smooth adoption and 
       maintenance of their websites.</li>
     </p>
     <p>
      <b><span class="company"> ARR INFOTECH </span><span class="position">Full Stack Developer</span></b> 
        <li>Developed the frontend for a travel booking mobile app using <b>Ionic with Angular,</b> 
         ensuring a seamless and intuitive user experience.</li>
        <li>Implemented complex UI features using <b>Angular and TypeScript,</b> optimizing 
         performance, responsiveness, and user interactions.</li>
        <li>Built the frontend for a scalable web platform in Angular, ensuring optimal 
         performance, high responsiveness, and smooth navigation.</li>
        <li><b>ARR Holidays Website Development</b> <a href="https://arrholidays.com/" style="text-decoration: none; color :#FFA500; font-weight: bolder; font-size: 18px;margin-left: 10px;">view site</a></li>
        <li>  Designed and developed a dynamic website for ARR Holidays using WordPress, 
         incorporating interactive elements and customizable pages to enhance user 
         engagement and usability.</li>
        <li> Improved page speed and mobile responsiveness, enhancing overall performance 
         and user experience</li>
     </p>
  </div>
  <div class="col-lg-3">
    <img class="suriya" src="./assets/suriya2.jpeg">
  </div>
 </div> 

<!--Tech stack-->
      <div class="heading-wrapper">
          <h3>Skills & Technologies</h3>
      </div> 
      <div class="circle-container">
        <div class="circle" *ngFor="let img of images">
          <img [src]="img" alt="Circle Image" />
        </div>
        </div>
        <div class="heading-wrapper">
          <h3>CMS & Website Builders</h3>
        </div>
        <div class="square-container">
          <div class="square-box animate" *ngFor="let square of squares; let i = index" 
               [ngClass]="{ 'from-left': i % 2 === 0, 'from-right': i % 2 !== 0 }">
            <img [src]="square" alt="square-img">
          </div>
        </div>
        
      <div class="heading-wrapper">
        <h3>Other Tools</h3>
      </div>
      <div class="box-container">
        <div class="box" *ngFor="let box of boxes">
          <img [src]="box" alt="Box Image" />
        </div>
      </div>
      
</div>
</div>

<div class="projects" id="project">
  <div class="heading-wrapper">
     <h2 class="pro-heading">Projects</h2>
  </div>

 <div class="project-wrapper d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row p-5" *ngFor="let project of projects">
      <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card cardsize mx-auto">
          <img [src]="project.img" alt="Project Image" />
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card cardsize mx-auto p-3 d-flex flex-column justify-content-center">
          <p>{{ project.description }}</p>
          <a [href]="project.link" target="_blank">View Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--contact-->

<div class="contact heading-wrapper" id="contact">

<h3>contact</h3>
<div class="form">
<div class="contact-form-wrapper ">
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <h5>ADDRESS:<SPAN style="color: #ececec;font-weight: bold;">17/16/13, kk Nagar, 3rd Street, Batlagundu-Dindigul-624202</SPAN></h5>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <h5>Email:<span style="color: #ececec;font-weight: bold;">rajsuriya606gmail.com</span></h5>
    <h5>Phone No:<span style="color: #ececec;font-weight: bold;">9597795673</span></h5>
  </div>
</div>


  <div>
    <p style="font-family: Gugi;font-size: large;margin-top: 5px;">Check out my links below</p>
    <div class="d-flex justify-content-around mt-3 social-links">
      <a href="https://www.linkedin.com/in/suriya-r-03a891264/" target="_blank" class="social-icon linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/suriyar1410" target="_blank" class="social-icon github">
        <i class="fab fa-github"></i>
      </a>
  
      <a href="mailto:rajsuriya606@gmail.com" class="social-icon gmail">
        <i class="fas fa-envelope"></i>
      </a>
      <!-- <a href="YOUR_WEBSITE_URL" target="_blank" class="social-icon website">
        <i class="fas fa-globe"></i>
      </a> -->
      <a href="https://www.instagram.com/__mr_suriya_/?hl=en" target="_blank" class="social-icon instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
</div>

<!-- <div class="form">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" action="mailto:rajsuriya606@gmail.com?subject=New Portfolio Contact Form Submission&body={{ getMailBody() }}" method="post" enctype="text/plain" class="contact-form-wrapper">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched" class="text-danger">
        Name is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" class="text-danger">
        Please enter a valid email address.
      </div>
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label">Subject</label>
      <input type="text" class="form-control" id="subject" formControlName="subject">
      <div *ngIf="contactForm.controls['subject'].invalid && contactForm.controls['subject'].touched" class="text-danger">
        Subject is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message" rows="5" formControlName="message"></textarea>
      <div *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched" class="text-danger">
        Message is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid" (ngSubmit)="onSubmit()">Send Message</button>
  
  
  </form>
</div> -->


</div>


<button id="backToTopBtn" title="Go to top" (click)="scrollToSection('home')">
  <i class="fas fa-arrow-up"></i>
</button>

<div class="empty">
</div>

<router-outlet/>
